/* ------------------------------- FONTS ------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Euphoria+Script&display=swap'); /* font-family: 'Euphoria Script', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap'); /* font-family: 'Cardo', serif; */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); /* font-family: 'Lato', sans-serif; */

/* ------------------------------- STRUCTURE ------------------------------- */

body {
  color: floralwhite;
  height: 100vh;
  font-family: 'Cardo', serif;
  background-image: url(../images/banner4.png);
}

header {
  background-image: url(../images/banner3.png);
  min-height: 25vh;
  border-bottom: 2px solid #fffff0;
}

section {
  min-height: calc(75vh - 31px);
  color: black;
  overflow-y: visible;
}
footer {
  background-image: url(../images/banner3.png);
  min-height: 31px;
  border-top: 2px solid #fffff0;
}

/* -- scrollbars -- */

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #fffff0;
  background: rgba(255,255,240,0.4);
}
::-webkit-scrollbar-thumb {
  background: #10343F;
  background: rgba(16,52,63,0.9);
}
::-webkit-scrollbar-thumb:hover {
  background: #ff8f00;
  background: rgba(255,143,0,0.7);
}


/* ------------------------------- HEADER ------------------------------- */

header a{
  text-decoration: none;
  text-align: center;
  font-family: 'Euphoria Script', cursive;
  letter-spacing: 4px;
  word-spacing: 15px;
  color: #fffff0;
}

.author-brand {
  min-height: 120px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.author-brand h1 {
  font-size: 400%;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0 15px 0 15px;;
}

.site-navigation {
  padding: 0;
  margin: 0;
}

.site-navigation button {
  color: #fffff0;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.site-navigation a {
  text-align: left;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

/* ------------------------------- MAIN SECTION GENERAL ------------------------------- */

.section-title {
  font-family: 'Euphoria Script', cursive;
  font-weight: 800;
  font-size: 350%;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  color: #fffff0;
}

.sub-section-title {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  color: #fffff0;
}

/* ------------------------------- MAIN SECTION HOME ------------------------------- */

.hero-content-full {
  max-height: 690px;
  overflow: hidden;
}

.hero-image-container {
  border-bottom: 2px solid rgb(255,255,240);
  border-bottom: 2px solid rgba(255,255,240,0.5);
  margin: 0 auto;
  width: 100vw;
  min-height: 690px;
  background: url(../images/background_1.png);
  background-size: cover;
  background-position: top right;
}

.hero-overlay {
  max-width: 90%;
  position: relative;
  top: 0;
  margin: 0 auto;
}

.hero-book-cover {
  min-height: 350px;
  margin: 20px auto;
  text-align: center;
}

.hero-book-cover img {
  max-height: 350px;
}

.hero-interaction-button {
  height: 40px;
  width: 150px;
  padding: 5px 10px;
  
  border-radius: 25px;
  border: 2px solid #10343F;
  background-color: rgb(255,255,240);
  background-color: rgba(255,255,240,0.7);
  color: #10343F;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  
  position: relative;
  top: 10px;
}

#hero-blockquote {
  position: relative;
  top: 40px;
}

#hero-blockquote blockquote {
  max-width: 400px;
  color: #fffff0;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
}

 /* peak section */
section h2 {
  padding-top: 20px;
}

.sub-section-full {
  padding: 0 0 35px 0;
  margin: 0;
}

.peak-agenda-section {
  color: #fffff0;
  padding: 0;
}

.peak-agenda-section ul {
  list-style-type: none;
  padding: 15px 10px;
}

.peak-agenda-section li {
  min-height: 100px;
  margin: 20px 0;
}

.peak-agenda-section li:nth-child(1) {
  border-bottom: 4px solid #ff8f00;
  border-bottom: 4px solid rgba(255,143,0,0.7);
}

.peak-agenda-section li:nth-child(2) {
  border-bottom: 4px solid #10343F;
  border-bottom: 4px solid rgba(16,52,63,0.7);
}

.peak-agenda-section li:last-child {
  border-bottom: none;
}

.peak-agenda-section li i {
  min-width: 27%;
  min-height: 100px;
  padding-top: 20px;
  font-size: 200%;
  text-align: center;
}

.peak-agenda-section li i:nth-child(1) {
  background-color: #ff8f00;
  background-color: rgba(255,143,0,0.7);
}

.peak-agenda-section li i:nth-child(2) {
  background-color: #10343F;
  background-color: rgba(16,52,63,0.7);
}

.peak-agenda-section li i span {
  text-transform: uppercase;
  font-size: 40%;
}

.peak-agenda-section li p {
  min-width: 69%;
  margin: 0 2%;
  padding: 0 5%;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.peak-agenda-section li:nth-child(1) p {
  text-align: left;
}

.peak-agenda-section li:nth-child(2) p {
  text-align: right;
}

.peak-agenda-section li:last-child {
  text-align: center;
}

.peak-agenda-section li p span {
  font-size: 80%;
  word-spacing: 3px;
  text-transform: capitalize;
}

.peak-interaction-button {
  height: 40px;
  width: 220px;
  padding: 5px 10px;
  
  border-radius: 25px;
  border: 2px solid #10343F;
  background-color: rgb(255,255,240);
  background-color: rgba(255,255,240,0.7);
  color: #10343F;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  
  position: relative;
  top: 35px;
}

/* ------------------------------- MAIN SECTION TITLES ------------------------------- */

/* carousel features */

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 200px;
  width: 60px;
  height: 80px;
  align-items: flex-start;
  background-color: transparent;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #10343F;
  border: 2px solid #fffff0;
  height: 40px;
  width: 40px;
}

.carousel-indicators {
  z-index: 0;
  height: 500px;
  position: absolute;
  right: 0;
  top: -20px;
  left: 0;
}

.carousel-indicators li {
  width: 20%;
  height: 6px;
}

.carousel-indicators .active {
  background-color: #faa539;
}

/* content features */

#titles-carousel {
  min-height: 400px;
  height: auto;
  width: 100%;
  padding: 10px 0 31px 0;
  margin: 0 auto;
  margin-bottom: 30px;
}

#titles-carousel-content {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(16,52,63);
  background-color: rgba(16,52,63,0.8);
  border-radius: 5px;
}

.sinopsis-image img {
  border: 1px solid #fffff0;
  border-radius: 5px;
  height: 300px;
}

.sinopsis-header {
  text-decoration: underline;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fffff0;
}

.title-interaction-button {
  padding: 1px 6px;
  border-radius: 25px;
  border: 2px solid #10343F;
  background-color: rgb(255,255,240);
  background-color: rgba(255,255,240,0.7);
  font-family: 'Lato', sans-serif;
  font-size: 110%;
  font-weight: 900;
}

.title-interaction-button a {
  color: #10343F;
  text-decoration: none;
}

.sinopsis-text {
  color: #fffff0;
}

/* ------------------------------- MAIN SECTION REVIEWS ------------------------------- */

/* --carousel features, defined previous section-- */
/* content features */

section h2 {
  padding-top: 20px;
}

#reviews-carousel {
  min-height: 400px;
  height: auto;
  width: 100%;
  padding: 10px 0 31px 0;
  margin: 10px auto;
  margin-bottom: 30px;
}

#reviews-carousel-content {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(16,52,63);
  background-color: rgba(16,52,63,0.8);
  border-radius: 5px;
}

.review-image img {
  border: 1px solid #fffff0;
  border-radius: 5px;
  height: 300px;
}

.review-header h3 {
  width: auto;
  text-align: center;
  color: #fffff0;
  font-size: 150%;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border: none;
}

.review-content-small {
  margin-top: 10px;
  padding: 3px;
  text-align: justify;
  font-size: 15px;
}

.review-content-small p {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #fffff0;
  border-radius: 25px;
  color: #fffff0;
  text-align: center
}

.review-text {
  max-width: 66%;
  margin-right: 1%;
  font-style: italic;
}

.review-content-small i,
.review-content-med i {
  display: inline-block;
  min-width: 33%;
  word-break: break-all;
  color: rgba(104, 213, 247, 0.87);
  font-size: 150%;
}

.review-content-small i span,
.review-content-med i span {
  font-size: 60%;
}

.review-content-small a,
.review-content-med a {
  text-decoration: none;
  color: inherit;
}
  
.review-content-med {
  padding-left: 20px;
}

.review-content-med p {
  max-width: 90%;
  min-width: 50%;
  margin-left: 5px;
  padding: 10px 20px;
  border: 1px solid #fffff0;
  border-radius: 25px;
  color: #fffff0;
}

/* ------------------------------- MAIN SECTION ABOUT ------------------------------- */

.about-section {
  padding: 0;
  overflow-y: hidden;
}

    /* --- agenda --- */
.agenda-column {
  max-height: 90vh;
  overflow-y: scroll;
  color: #fffff0;
  border-top: 2px solid #fffff0;
}

.agenda-column ul {
  list-style-type: none;
  padding: 15px 10px;
}

.agenda-column li {
  min-height: 100px;
  margin: 20px 0;
}

.agenda-column li:nth-child(odd) {
  border-bottom: 4px solid #ff8f00;
  border-bottom: 4px solid rgba(255,143,0,0.7);
}

.agenda-column li:nth-child(even) {
  border-bottom: 4px solid #10343F;
  border-bottom: 4px solid rgba(16,52,63,0.7);
}

.agenda-column li:last-child {
  border-bottom: none;
}

.agenda-column li p {
  min-width: 69%;
  margin: 0 2%;
  padding: 0 5%;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.agenda-column li p span {
  font-size: 80%;
  word-spacing: 3px;
  text-transform: capitalize;
}

.agenda-column li:nth-child(even) p {
  text-align: right;
}

.agenda-column li:nth-child(odd) p {
  text-align: left;
}

.agenda-column li:last-child {
  text-align: center;
}

.agenda-column li i {
  min-width: 27%;
  min-height: 100px;
  padding-top: 20px;
  font-size: 200%;
  text-align: center;
}

.agenda-column li i span {
  text-transform: uppercase;
  font-size: 40%;
}

.agenda-column li i:nth-child(odd) {
  background-color: #ff8f00;
  background-color: rgba(255,143,0,0.7);
}

.agenda-column li i:nth-child(even) {
  background-color: #10343F;
  background-color: rgba(16,52,63,0.7);
}

.events-interaction-button {
  height: 40px;
  width: 270px;
  padding: 5px 10px;
  
  border-radius: 25px;
  border: 2px solid #10343F;
  background-color: rgb(255,255,240);
  background-color: rgba(255,255,240,0.7);
  color: #10343F;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  
  position: relative;
  top: 35px;
}

    /* --- bio --- */
.biography-column {
  padding-bottom: 30px;
}

.biography-column img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border: 2px solid #fffff0;
}

.biography-column p {
  margin: 0 20px;
  padding: 10px;
  text-indent: 15px;
  text-align: justify;
  color: #fffff0;
}

    /* --- social feed --- */
.social-feed-column {
  max-height: 90vh;
  overflow-y: scroll;
  background-color: #FFC273;
  background-color: rgba(255,194,115,0.9);
  border-left: 3px solid #10343F;
  border-left: 3px solid  rgba(16,52,63,0.9);
}

.social-feed-column ul {
  list-style-type: none;
  padding: 15px;
}

.social-feed-column li {
  min-height: 300px;
  margin-bottom: 10px;
}

/* ------------------------------- MAIN SECTION BLOG ------------------------------- */



/* ------------------------------- MAIN SECTION CONTACT ------------------------------- */



/* ------------------------------- FOOTER ------------------------------- */

.copyright-alert h6 {
  padding-top: 10px;
  margin-left: 5px;
  font-size: 12px;
  word-spacing: 2px;
}

.copyright-alert i {
  margin-left: 15px;
}

#copyright-pop-alert {
  transition: opacity 1s ease;
  transition-delay: 1.5s;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #faa539;
  color: black;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  margin: 4px;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 5%;
}

.social-icons {
  text-align: right;
  margin: 0 auto;
  font-size: 25px;
}

.social-icons i {
  color: #fffff0;
  padding-top: 10px;
  padding-right: 10px;
}

/* ------------------------------- MEDIA QUERYS SPECS ------------------------------- */

@media screen and (max-width: 450px) {
  
  /* ------------------------------- header ------------------------------- */

  /* ------------------------------- main-section ------------------------------- */
  
  .biography-column p {
    clear: both;
    text-align: justify;
    margin: 0 auto;
    padding: 20px 15px;
    text-indent: 10px;
  }

  /* ------------------------------- footer ------------------------------- */
  
} 

@media screen and (max-width: 575px) {
  
  /* ------------------------------- header ------------------------------- */
  #contracted-menu-spec {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
  }
  
  .site-navigation a {
    border-left: 1px solid #fffff0;
  }
  
  #border-separation a {
    padding-left: 5px;
  }
  
  /* ------------------------------- main-section ------------------------------- */
  #titles-carousel-content {
  width: 100%;
  }
  
  #reviews-carousel-content {
  width: 100%;
  }
  
  /* ------------------------------- footer ------------------------------- */
  
} 

@media screen and (min-width: 595px) {
  
  /* ------------------------------- header ------------------------------- */
  .site-navigation a:last-child {
    margin-right: 0;
  }
  /* ------------------------------- main-section ------------------------------- */
  
  .sinopsis-image img {
    height: 400px;
  }
  
  .review-image img {
    height: 400px;
  }
  
  .biography-column img {
    float: right;
    margin: 20px;
    max-height: 200px;
    max-width: 200px;
    border: 2px solid #fffff0;
  }
  
  /* ------------------------------- footer ------------------------------- */
  #copyright-pop-alert {
    width: 90%;
  }
  
  .social-icons i {
    color: #fffff0;
    padding-top: 5px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 725px) {
  /* ------------------------------- header ------------------------------- */

  .site-navigation a {
    font-size: 30px;
    padding: 0;
    margin-right: 20px;
  }
    
  /* ------------------------------- main-section ------------------------------- */
  .peak-agenda-section {
    width: 80%;
    margin: 0 auto;
  }
  
  .review-header h3 {
    font-size: 250%;
  }
  
  .agenda-column {
    border-top: none;
  }
  
  /* ------------------------------- footer ------------------------------- */

}

@media screen and (min-width: 992px) {
  /* ------------------------------- header ------------------------------- */
  
  /* ------------------------------- main-section ------------------------------- */

  /* ------------------------------- footer ------------------------------- */

}

@media screen and (min-width: 1200px) {
  /* ------------------------------- header ------------------------------- */
  
  /* ------------------------------- main-section ------------------------------- */

  /* ------------------------------- footer ------------------------------- */

}

/* ------------------------------- LINKS HOVER AND BUTTON EFFECTS ------------------------------- */

  /* ------------------------------- header ------------------------------- */

header a:hover {
  color: #fffff0;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:active {
  color: #ff8f00;
  text-shadow: 0 -3px 8px rgba(255,255,240,0.3), 0 3px 8px rgba(255,255,240,0.3), -3px 0 8px rgba(255,255,240,0.3), 3px 0 8px rgba(255,255,240,0.3);
  letter-spacing: 5px;
  transform: scale(1.3);
  transition-duration: 0.5s;
  border-left: none;
}

  /* ------------------------------- main section ------------------------------- */

.hero-interaction-button:hover,
.peak-interaction-button:hover,
.title-interaction-button:hover,
.events-interaction-button:hover {
  border: 2px solid #ff8f00;
  background-color: #10343F;
  color: #ff8f00;
}

.review-content-small i:hover,
.review-content-med i:hover {
  transform: scale(1.1);
}

  /* ------------------------------- footer ------------------------------- */

.copyright-alert:hover #copyright-pop-alert {
  opacity: 1;
  height: auto;
  width: 186%;
}

.copyright-alert:hover i {
  color: #ff8f00;
  transform: scale(1.3);
}

.social-icons i:hover {
  color: #ff8f00;
  animation: icon-movement 0.5s;
}


/* ------------------------------- ANIMATIONS/KF ------------------------------- */

@keyframes icon-movement {
  10%, 50%, 90% {transform: translate(-1px, 0);}
  30%, 70% {transform: translate(1px, 0);}
}