/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');  /* font-family: 'Reenie Beanie', cursive; */

@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow&display=swap'); /*font-family: 'Over the Rainbow', cursive; */

@import url('https://fonts.googleapis.com/css?family=Euphoria+Script&display=swap'); /* font-family: 'Euphoria Script', cursive;
 */
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap'); /* font-family: 'Cardo', serif; */

/* STRUCTURE */

body {
  background-image: url(../images/banner3.png);
  color: floralwhite;
  height: 100vh;
  font-family: 'Cardo', serif;
}

header {
  min-height: 25vh;
  border-bottom: 2px solid floralwhite;
}

section {
  min-height: 65vh;
  background-color: blanchedalmond;
  color: crimson;
  margin-bottom: 25px;
}
footer {

}

/* HEADER */

header a{
  text-decoration: none;
  text-align: center;
  font-family: 'Euphoria Script', cursive;
  letter-spacing: 4px;
  word-spacing: 15px;
  color: floralwhite;
}

.author--brand {
  min-height: 120px;
  padding-top: 25px;
  padding-bottom: 10px;
}

.author--brand h1 {
  font-size: 400%;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0 15px 0 15px;;
}

.site--navigation { /* nav->span->i, nav->div->a */
  padding: 0;
  margin: 0;
}

.site--navigation button {
  color: floralwhite;
  position: absolute;
  top: 27px;
  right: 10px;
}

.site--navigation a {
  text-align: left;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 600;
}

/* MAIN SECTION GENERAL */


/* MAIN SECTION HOME */


/* MAIN SECTION WORKS */


/* MAIN SECTION REVIEWS */


/* MAIN SECTION BLOG */


/* MAIN SECTION CONTACT */


/* FOOTER */

#footer-bg {
  background-image: url(../images/banner3.png);
}

/* MEDIA QUERYS SPECS */

@media screen and (max-width: 575px) {
  #contracted-menu-spec {
    margin-left: 0; 
    padding-left: 0;
  }
  .site--navigation a {
    border-left: 1px solid floralwhite;
  }
  #border-separation a {
    padding-left: 5px;
  }
} 

@media screen and (min-width: 595px) {
  .site--navigation a {
    font-size: 30px;
    padding: 0;
    margin-right: 20px;
  }
  .site--navigation a:last-child 
    margin-right: 0;
  }
}


/* LINKS HOVER EFFECTS */

.author--brand a:hover {
  
}